{% extends '::base.html.twig' %}

{% block body %}

    <ul>
        <li><a href="{{ path('logout') }}">LOGOUT</a></li>
        <li><a href="{{ path('tommy_pymnt_main_cabinet_addform') }}">Add new item</a></li>
    </ul>




{% endblock %}